@charset "utf-8";

@font-face {
	font-family: 'kin';
	src: url("../font/GN-Kin-iro_SansSerif.ttf");
}

@font-face {
	font-family: 'logo';
	src: url("../font/ロゴたいぷゴシック.otf");
}

@font-face {
	font-family: 'suma';
	src: url("../font/03スマートフォントUI.otf");
}

p {
	margin: 0 0 0 0;
}

body {
    margin: 0;
    padding: 0;
     /* ドット斜め */
	 
    background: 
    radial-gradient(rgb(172, 161, 238) 3px, transparent 4px),
    radial-gradient(rgb(172, 161, 238) 3px, transparent 4px),
    linear-gradient(#fff 4px, transparent 0),
    linear-gradient(45deg, transparent 74px, transparent 75px, rgb(149, 149, 255) 75px, rgb(149, 149, 255) 76px, transparent 77px, transparent 109px),
    linear-gradient(-45deg, transparent 75px, transparent 76px, rgb(149, 149, 255) 76px, rgb(149, 149, 255) 77px, transparent 78px, transparent 109px),
  #fff;
  background-size: 109px 109px, 109px 109px,100% 6px, 109px 109px, 109px 109px;
  background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
	
 }

 .logo {
    text-align: center;
    font-family:fantasy;
    background-color: white;
    margin: 0;
    height:60px;
    padding: 0 0;
}

#head {
    margin-bottom: 0;
    margin-top: 0;
}

.headimg {
    width:100%;
    vertical-align: bottom;
    padding:0px;
    margin:0px;
}



/*罫線*/

.hr1 {
	border-width: 2px 0 0 0;
    margin:20px 0;
	border-style: dashed;
	border-color: #241868;
}

@media screen and (max-width: 480px) {
	.hr1 {
		margin: 10px 0 0 0;
	}
}


/*メインコンテンツのボックス*/

.mainbox {
    margin: 0;
    padding: 0;
	display: flex;
}

.maincontent {
    display: flex;
	flex-flow: column;
	border-radius: 10px ;
    width: 60%;
    margin: 20px auto;
    padding: 1px 3%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 25px 0 rgba(255, 255, 255, 0.5);
}

@media screen and (max-width: 960px) {
	.maincontent {
		width:97%;
	}
}


/*サイドバーのコンテンツ*/

.sidebar {
	display: flex;
	flex-flow: column;
	width: 25%;
	margin: 20px auto;
    padding: 1px 3%;
	/*境界線の効果*/
	/*border: 1px solid #f3cbd0;	
	position: relative;*/
}

@media screen and (max-width: 960px) {
	.sidebar {
		display:none;
	}
}

.voidbox {
	width:7%;
}

@media screen and (max-width: 960px) {
	.voidbox {
		display:none;
	}
}

/*twitter*/

.twitter-timeline-box {
	margin: 10px 2px;
	padding: 0;
	box-shadow: 0 0 25px 0 rgba(255, 255, 255, 0.5);
}


/*メニューボックス*/
.menubox {
	margin: 2px 2px;
	padding: 2px 4px;
	width: 100%;
	font-family: kin;
	font-size: 22px;
	color: white;
	letter-spacing: 9px;
	border-radius: 10px ;
	background-color: rgb(255, 255, 255);
	border-width: 1px;
	box-shadow: 0 10px 25px 0 rgba(255, 255, 255, 0.5);
}



/*メニューボックス内のボタン*/

a.cp_btn {
	display: block;
	position: relative;
	margin: 10px auto;
	width: 99%;
	border-radius: 3px ;
	padding: 0.4em;
	text-align: center;
	text-decoration: none;
	color: white;
	border:1px solid #8facd8;
	background: #8facd8;
	overflow: hidden;
	box-shadow: 0 0 7px 0 rgba(70, 83, 145, 0.5);
	z-index: 1 !important;
}
a.cp_btn:after {
	content:"";
	position: absolute;
	top: 50%;
	left: 50%;
	height: 0;
	width: 100%;
	background : #fff;
	opacity: 0;
	transform: translateX(-50%) translateY(-50%) rotate(45deg);
	transition: 0.3s;
	z-index: -1;
}
a.cp_btn:hover {
	color: #8facd8;
}
a.cp_btn:hover:after {
	height: 250%;
	opacity: 1;
}
a.cp_btn:active:after {
	height: 350%;
	opacity: 1;
}

a.cp_btn_menu {
	display: block;
	position: relative;
	margin: 10px auto;
	width: 99%;
	border-radius: 3px ;
	padding: 0.4em;
	text-align: center;
	text-decoration: none;
	color: white;
	border:1px solid #7ac985;
	background: #7ac985;
	overflow: hidden;
	box-shadow: 0 0 7px 0 rgba(70, 83, 145, 0.5);
	z-index: 1 !important;
}

/*日付*/
.date {
	text-align: right;
	font-size: 16px;
	font-family: logo;
	padding: 0;
	margin: 0;
}



/*画像スライドショー*/

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
.slimg{
	width: 100%;
	aspect-ratio: 3 / 2;

}
.cp_cssslider {
	width: 100%;
	padding-top: 70%; /* 画像の高さ */
	position: relative;
	margin: 2em 0 1.3em 0;
	text-align: center;
}
.cp_cssslider > img {
	position: absolute;
	left: 0;
	top: 0;
	transition: all 0.5s;
	border-radius: 3px;
	box-shadow:0px 0px 5px 0px rgba(0,0,0,0.3);
}
.cp_cssslider input[name='cp_switch'] {
	display: none;
}
/* サムネイル */
.cp_cssslider label {
	margin: 15px 5px 0 5px;
	border: 2px solid #ffffff;
	display: inline-block;
	cursor: pointer;
	transition: all 0.5s ease;
	opacity: 0.6;
	border-radius: 3px;
}
.cp_cssslider label:hover {
	opacity: 0.9;
}
.cp_cssslider label img {
	display: flex;
	flex-direction: row;
	width: 120px;
	border-radius: 2px;
}
@media screen and (max-width: 1280px) {
	.cp_cssslider label img {
		width: 80px;
	}
}
@media screen and (max-width: 780px) {
	.cp_cssslider label img {
		width: 60px;
	}
}	
@media screen and (max-width: 550px) {
	.cp_cssslider label img {
		width: 40px;
	}
}



.cp_cssslider input[name='cp_switch']:checked + label {
	border: 2px solid #FF7043;
	opacity: 1;
}
.cp_cssslider input[name='cp_switch'] ~ img {
	opacity: 0;
}
.cp_cssslider input[name='cp_switch']:checked + label + img {
	opacity: 1;
}


/*目次ボックス*/
.index_box {
	display: block;
	font-family: suma;
	font-size:100%;
	border-style: solid;
	border-width: 1px;
	border-color:rgb(71, 177, 119);
}

.index_li {
	list-style: none;
	font-size: 120%;
	margin: 15px 0 15px 0;
}

/*目次*/
ul.index {
	padding: 0.5em;
	list-style: none;
}
ul.index li {
	position: relative;
	padding: 0.5em 1em 0.5em 2.3em;
	margin-bottom:5px;
}
ul.index li:after,
ul.index li:before {
	content:'';
	position: absolute;
	transform: rotate(45deg);
}
ul.index li:before {
	top: 0.7em;
	left: 0.2em;
	width: 12px;
	height: 12px;
	border:2px solid rgba(255,143,0,1);
}
ul.index li:after {
	top: 0.9em;
	left: 0.7em;
	width: 14px;
	height: 14px;
	background: rgba(255,143,0,0.5);
	transform: rotate(60deg);
}


/*タイトル＋見出し(1)*/

.h1title {
	position: relative;
	margin: 0 0 10 0;
	padding: 0.3em 0.3em 0.3em 0.8em;
	font-family: logo;
	color: #ffffff;
	background: #1b4788;
	-webkit-box-shadow: 0 1px 1px 0 inset rgba(0, 0, 0, 0.6);
	        box-shadow: 0 1px 1px 0 inset rgba(0, 0, 0, 0.6);
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
}
.h1title::before,
.h1title::after {
	position: absolute;
	width: 0;
	height: 51.95px;
	content: '';
	-webkit-transform: rotate(45deg);
	        transform: rotate(45deg);
	border-width: 0 0 0 4px;
	border-style: double;
	border-color: #4dd0e1;
}
.h1title::before {
	right: 10px;
	bottom: -15px;
}
.h1title::after {
	top: -15px;
	left: 10px;
}

@media screen and (max-width: 480px) {
	.h1title {
		font-size:20px;
	}
}


/*見出し(2)*/

.h2title {
	position: relative;
	font-family: logo;
	padding: 0.3em 0.3em 0.3em 0.8em;
	background: #e6e8ff;
	-webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
	        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
}
.h2title::before,
.h2title::after {
	position: absolute;
	width: 0;
	height: 51.95px;
	content: '';
	-webkit-transform: rotate(-45deg);
	        transform: rotate(-45deg);
	border-width: 0 0 0 1px;
	border-style: solid;
	border-color: #1b0d6e;
}
.h2title::before {
	top: -15px;
	right: 10px;
}
.h2title::after {
	bottom: -15px;
	left: 10px;
}

@media screen and (max-width: 480px) {
	.h2title{
		font-size:20px;
	}
}

/*見出し(3)*/
.h3title {
	position: relative;
	padding: .1em .3em .1em 1.3em;
	border-bottom: 1px solid #00838F;
	font-family: logo;
    font-size: 25px;
}
.h3title::before,.cp_h1title::after {
	position: absolute;
	content: '';
	border-radius: 100%
}
.h3title::before {
	top: .5em;
	left: .2em;
	width: 18px;
	height: 18px;
	background: rgba(0,131,143,.7);
}
.h3title::after {
	top: .8em;
	left: 0.5em;
	width: 13px;
	height: 13px;
	background: rgba(0,131,143,.5);
}
@media screen and (max-width: 480px) {
	.h3title {
		font-size:20px;
	}
}

/*見出し(4)*/
.h4title {
	position: relative;
	padding: .1em .3em .1em 1.3em;
	font-family: logo;
    font-size: 22px;
}
.h4title::before,.h4title::after {
	position: absolute;
	content: "□";
	width:4px;
	height: 4px;
	color: #FBC02D;
}
.h4title::before {
	left:0;
	top:0;
}
.h4title::after {
	left: 5.5px;
	top: 7.5px;
}


/*ブログカード*/


.clearfix:before,
.clearfix:after {
    content:"";
    display:table;
}
.clearfix:after {
    clear:both;
}
.html_card,
.ogp_card {
	border: 1px solid rgba(27, 37, 56, 1);
	border-radius: 6px;
	margin: 20px 0;
	padding: .2em .5em .5em .5em;
	position: relative;
}
.html_card::before,
.ogp_card::before {
	position: absolute;
	top: -20px;
	left: 1em;
	content: 'Reference';
	font-size: .7rem;
	color: #ffffff;
	background: rgba(27, 37, 56, 1);
	border-radius: 6px 6px 0px 0px;
	padding: .1em .5em;
}
.html_card p,
.ogp_card p {
	margin: .5em 0 .5em 0;
	line-height: 1.6em;
}
.html_card a,
.ogp_card a {
	text-decoration: none;
	margin: 0;
	padding: 0;
}
.ogp_card img {
	float: right;
	margin: .5em .5em .5em 1em;
	border-radius: 6px;
	width: 100px;
	height: auto;
}
.html_card p.title,
.ogp_card p.title {
	position: relative;
	padding: .3em .3em .3em .75em;
	border-left: 6px solid rgba(0, 188, 212, 1);
}
.html_card p.title::before,
.ogp_card p.title::before {
	position: absolute;
	content: '';
	left: -6px;
	bottom: 0;
	width: 6px;
	height: 50%;
	background-color: rgba(27, 37, 56, 1);
}
.html_card p.title a,
.ogp_card p.title a {
	font-size: 1.1rem;
	font-weight: bold;
	color: rgba(27, 37, 56, 1);
	padding-bottom: .1em;
	border-bottom: 1px dotted rgba(0, 188, 212, 1);
	transition: all .3s;
}
.html_card p.copy a,
.ogp_card p.copy a {
	font-size: .8rem;
	margin-bottom: 0em;
	text-decoration: underline;
	color: #666666;
	display: block;
}
.html_card p.copy a::before,
.ogp_card p.copy a::before {
	font-size: .9rem;
	color: rgba(0, 188, 212, 1);
	display: inline-block;
	width: 1.2rem;
}
.ogp_card p.card_bt {
	margin: 0px auto;
	margin-top: -20px;
	float: right;
}
.html_card p {
	position: relative;
}
.html_card p.card_bt {
	position: absolute;
	bottom: 0;
	right: .5em;
}
.html_card p.card_bt a,
.ogp_card p.card_bt a {
	display: block;
	position: relative;
	width: 120px;
	padding: 0.2em 0.8em;
	text-align: center;
	text-decoration: none;
	color: #fff;
	border:1px solid rgba(0, 188, 212, 1);
	background: rgba(0, 188, 212, 1);
	overflow: hidden;
	z-index: 1;
}
.html_card p.card_bt a:after,
.ogp_card p.card_bt a:after  {
	content:"";
	position: absolute;
	top: 50%;
	left: 50%;
	height: 0;
	width: 100%;
	background : #fff;
	opacity: 0;
	transform: translateX(-50%) translateY(-50%) rotate(45deg);
	transition: 0.3s;
	z-index: -1;
}
.html_card p.card_bt a:hover,
.ogp_card p.card_bt a:hover {
	color: rgba(0, 188, 212, 1);
}
.html_card p.card_bt a:hover:after,
.ogp_card p.card_bt a:hover:after {
	height: 350%;
	opacity: 1;
}
.html_card p.card_bt a:active:after,
.ogp_card p.card_bt a:active:after {
	height: 450%;
	opacity: 1;
}





/*テキスト*/
.text {
    display: block;
    margin: 20px auto;
	line-height: 200%;
    font-family: suma;
    font-size: 20px;
    width: 95%;
}

@media screen and (max-width: 480px) {
	.text {
		font-size: 18px;
	}
}


/*リンクテキスト*/

.cp_block {
	margin: 5em auto;
	text-align: center;
	color: #dd7d00;
}
.cp_textlink06 {
	position: relative;
	display: inline-block;
	padding: 0.1em 0.3em;
	text-decoration: none;
	color: #dd7d00;
	border-bottom:dashed;
	border-color:#dd7d00;
	border-width:2px;
}
.cp_textlink06:after {
	position: absolute;
	bottom: 50%;
	left: 0;
	width: 100%;
	height: 2px;
	content: '';
	transition: all 0.3s ease;
	opacity: 0;
	border-radius: 10px;
	background-color: #dd7d00;
}
.cp_textlink06:hover:after {
	bottom: 0;
	height: 100%;
	opacity: 0.3;
}


/*署名カード*/
.cp_blockdesign05 {
	position: relative;
	padding: 0.8em;
	background: #ebf0ff;
	-webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
	        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
}
.cp_blockdesign05::before,
.cp_blockdesign05::after {
	position: absolute;
	width: 0;
	height: 51.95px;
	content: '';
	-webkit-transform: rotate(-45deg);
	        transform: rotate(-45deg);
	border-width: 0 0 0 1px;
	border-style: dashed;
	border-color: #3672f4;
}
.cp_blockdesign05::before{
	top: -15px;
	right: 10px;
}
.cp_blockdesign05::after{
	bottom: -15px;
	left: 10px;
}
.cp_blockdesign05 .cp_authorname {
	display: flex;
	background-color: #cdd5ff;
	-webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
	        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
}
.cp_blockdesign05 .cp_authorname h2 {
	margin: 0.3em 0.3em 0.3em 0.8em;
	width: 65%;
	color: #393552;
}
.cp_blockdesign05 .cp_authorname ul {
	margin: 0.5em 0;
	padding: 0.3em 0 0.3em 0.8em;
	width: 35%;
	text-align: center;
	border-left: 1px dashed #3672f4;
}
.cp_blockdesign05 .cp_authorname li {
	display: inline;
	padding: 0 0.5em;
}
.cp_blockdesign05 .cp_authorname li a {
	color: #3672f4;
}
.cp_blockdesign05 .cp_authorinfo {
	margin:0;
	padding: 0.4em;
	float: left;
}

.icon {
	display:flex;
	margin: 20px 20px 20px 0;
	width:100px;
	height:100px;
	float: left;
}


/*戻るボタン*/

#page_top{
	width: 90px;
	height: 90px;
	position: fixed;
	right: 0;
	bottom: 0;
	background: #ef3f98;
	opacity: 0.6;
	border-radius: 50%;
  }
  #page_top a{
	position: relative;
	display: block;
	width: 90px;
	height: 90px;
	text-decoration: none;
  }
  #page_top a::before{
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
	content: '\f102';
	font-size: 25px;
	color: #fff;
	position: absolute;
	width: 25px;
	height: 25px;
	top: -40px;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	text-align: center;
  }
  #page_top a::after{
	content: 'PAGE TOP';
	font-size: 13px;
	color: #fff;
	position: absolute;
	top: 45px;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	text-align: center;
  }

/*フッタ*/

footer {
	display: block;
	width: 100%;
	height: 30px;
	text-align: center;
	background-color:rgb(63, 58, 82);
	color: white;
	opacity: 1;
}